@import url('https://fonts.googleapis.com/css2?family=Jost&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
* {margin: 0;padding: 0;box-sizing: border-box;}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.page-wrapper {
	background-color: #131327;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.container {
    display: none;
}
.main {
	min-height: calc(100vh - 225px);
	padding: 30px 0;
}
.overlay {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
}
/* header-area css start */
.header-area {
	padding: 0 20px;
	background: #131327;
    border-bottom: 1px solid #4d5e85;
}
.header-area .navbar-collapse {
	justify-content: flex-end;
}
.header-area .navbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	height: 80px;
	padding: 0;
}

.header-search-part {
    border-left: 1px solid #4d5e85;
    border-right: 1px solid #4d5e85;
    height: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: auto 60px;
  }
  .main-menu li a {
	color: #fff;
	font-family: 'Jost', sans-serif;
	display: inline-block;
	font-weight: 400;
	font-size: 18px;
    padding: 0 !important;
    transition: all 0.4s ease;
    position: relative;
}
.main-menu li.active a::after {
	content: "";
	position: absolute;
	width: 12px;
	left: 50%;
	transform: translateX(-50%);
	bottom: -6px;
	height: 2px;
	border-radius: 15px;
	background-color: #fff;
}
.main-menu li:not(:first-child) a {
    margin-left: 30px;
}
.main-menu li a:hover {
    color: rgba(255, 255, 255, 0.75);
}
.navbar-brand {
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    padding: 0;
  }
  .navbar-brand:hover {
    color: #fff;
  }
  .input-design {
	border: 0;
	height: 48px;
	padding: 0 20px;
	background: transparent;
	color: #fff;
	font-size: 15px;
}
  .input-design:focus {
    outline: none;
    box-shadow: none;
  }
  #searchIcon {
	background: transparent;
	border: 0;
	padding: 0;
}
/* header-area css end */

/* main-area css start */

.tbl-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
  }
  .tbl-th {
    color: #709CF0;
    font-size: 15px;
    font-weight: 600;
  }
  .homepage_top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background: #223154;
	border-left: 4px solid #84A0E2;
	margin-bottom: 50px;
}
.homepageTop_comp {
	padding: 80px 40px;
}
.site_logo {
	width: 380px;
	display: block;
	margin: 45px auto;
	margin-bottom: 55px;
}
.view-blk {
	border: 1px solid #84A0E2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px 16px;
}
  .view-blk p {
    margin: 0 !important;
    font-weight: normal !important;
    font-size: 15px !important;
  }
  .homepageTop_comp p {
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .homepageTop_comp {
	padding: 60px 40px;
}
  .bdr-rg {
    border-right: 1px solid #84A0E2;
  }
  .bdr-lf {
    border-left: 1px solid #84A0E2;
  }
  
.tbl-title {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 24px;
  }
  .tbl-title span {
    position: relative;
    z-index: 1;
    background: #131327;
    padding: 0 14px;
  }
  .tbl-title::after {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
/* main-area css end */




/* footer css start */
.footer {
    margin-top: auto;
	display: flex;
	justify-content: space-between;
	padding: 30px 20px;
	border-top: 1px solid #4d5e85;
}
/* footer css end */


@media only screen and (min-width: 0px) and (max-width: 800px) {
    .homepage_top {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-top: 30px;
    }
    .homepageTop_comp {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 30vh;
        background-color: #223154;
        border-right: 1px solid #4d5e85;
        margin-top: 10px;
    }
    .blocks {
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin: 0px;
        margin-left: 30px;
    }
    .block {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 26vh;
        background-color: #223154;
        border-right: 1px solid #4d5e85;
        border-bottom: 1px solid #4d5e85;
        padding: 30px;
        margin-top: 10px;
    }      
}
.dblocks-nightmode-toggle-icon {
    transform: translate(0px, -1.5px);
}

.dblocks-table-inner {
    margin-bottom: 0;
}

.card-header {
    padding: 0px 10px;
}

.dblocks-card {
    padding: 5px 15px;
    margin: 10px 0px;
    background-color: #223154;
    border-left:5px solid #56417e;
}

.dblocks-card-content {
    margin: 0;
    word-break: break-word;
}

#dblocks-props-tbl {
    table-layout: fixed;
}

#dblocks-props-tbl tr td {
    word-wrap: break-word;
}

#acc-notfound, #acc-error, #acc-container, #acc-profile-hive, #acc-profile-steem, #acc-witness {
    display: none;
}

#acc-container [id^=acc-profile] img, 
.dblocks-accprice-createaccbtn img,
#content-dtube img {
    float: left;
    width: 25px;
    height: 25px;
}

#acc-profile-dtube,
.dblocks-accprice-createaccbtn,
#content-dtube {
    border-color: #223154;
    background-color: #223154;
}

#acc-profile-hive {
    border-color: #E31337;
    background-color: #E31337;
}

#acc-profile-steem {
    border-color: #171FC9;
    background-color: #171FC9;
}

#acc-profile-json { width: 100%; }
#acc-profile-json table { font-size: 12px;}
#acc-meta-master,
#acc-witness-key,
#acc-profile-json table tr td,
#blk-container table tr td,
#txn-container table tr td {
    word-break: break-word;
}

table tr th {
    word-break: normal;
}

/* Block details */
#blk-notfound, #blk-error, #blk-container { display: none; }
.blk-head { width: 100%; }
.blk-btn-prevnext { float: right; }

/* Txn details */
#txn-notfound, #txn-error, #txn-container { display: none; }

/* Contents */
#content-error, #content-notfound, #content-container,
.content-parent, #content-comments { display: none; }
#content-comments table,
#content-votes thead,
#content-votes tbody tr td:nth-child(2),
#content-votes tbody tr td:nth-child(5),
#content-votes tbody tr td:nth-child(6),
#content-votes tbody tr td:nth-child(7) { text-align: center; }
#content-votes tbody tr td:nth-child(3),
#content-votes tbody tr td:nth-child(4) { text-align: right; }

/* witness */
#witness-error, #witness-container { display: none; }
#witness-table thead { text-align: center; }
#witness-table tbody tr th { text-align: center; }
#witness-table tbody tr td:nth-child(n+3) { text-align: right; }

/* Account Pricing */
.dblocks-accprice { max-width: 350px; }
.dblocks-accprice thead,
.dblocks-accprice tbody tr th { text-align: center; }
.dblocks-accprice tbody tr td { text-align: right; }

/* Richlist */
#richlist-error, #richlist-container { display: none; }
#richlist-table thead,
#richlist-table tbody tr th { text-align: center; }
#richlist-table tbody tr td:nth-child(n+3) { text-align: right; }

/* Live sub count */
.alert { display: none; }
.dblocks-counter { 
    width: 100%;
    text-align: center;
}
.odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 7; }


/* MOBILE DEVICES */
@media screen and (max-width: 768px) {
    .odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 6; }
}

@media screen and (max-width: 500px) {
    .odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 5; }
}

@media screen and (max-width: 420px) {
    .odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 4; }
}

@media screen and (max-width: 350px) {
    .odometer.odometer-auto-theme, .odometer.odometer-theme-car { zoom: 3; }
}